.busqueda input {
    width: 100%;
    padding: 10px;
    border: 1px solid #f50aed;
    border-radius: 8px;
    margin-bottom: 20px;
}

.categorias {
    margin-bottom: 20px;
}

.categorias div {
    background-color: rgba(220, 51, 169, 0.095);
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.card {
    background: rgba(247, 192, 237, 0.533);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgb(255, 0, 208);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    max-height: 350px;
}
h2{
    margin-bottom: 15px;
    margin-top: 20px;
    color: blueviolet;
}